body {
  background: tomato;
}

.banner {
  background: #eb9e91;
}

h1 {
  color: rgb(0, 70, 201);
  text-align: center;
  text-transform: capitalize;
}

@media screen and (min-width: 576px) {
  body {
    background: cornsilk;
  }
  .banner {
    background: rgb(51, 51, 51);
    color: black;
  }
}

h1:hover {
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.5s;
}
